// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userform {
  width: 290px;
  //height: 30px;
  div {
    &:nth-child(even) {
      background-color: lightyellow;
    }
    &:nth-child(odd) {
      background-color: lightcyan;
    }
    &:hover {
      background-color:lightgrey;
    }

    .label {
       width: 30px;
       display: inline-block;
       color: red;
       font: helvetica;
       font-size: 12pt;
    }
  }
}